*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.navbar{
    background-color: rgb(21, 35, 81);
    color: white;
    height:40px;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.nav-icon{
    padding-left: 5px;
}
.nav-header{
    width: 60vw;;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.nav-items{
    display:flex;
    align-items:center;
    
}
.nav-brand{
    padding-left: 5px;
    text-decoration: none;
    color: white;
}
.item{
    padding-right: 10px;
    color: white;
    text-decoration: none;
}
.nav-brand:hover,.item:hover{
    background-color: orange;
}
.item:active{
    background-color: orange;
}

.title{
    text-align:center;
    padding-top: 40px;
    text-decoration: underline;    
    text-underline-offset: 5px;
}
.title2{
    color: orangered;
}
.container{
    padding-top: 20px;
    text-align:center;
}
.card-columns{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-content: space-evenly;
    color: black;
}
.card-body{
    color: black;
}
.card{
    background-color: whitesmoke;
}
.card:hover{
    box-shadow: 5px 5px 5px 5px rgb(181, 176, 176) ;
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
}
footer{
    background-color: rgb(21, 35, 81);
    color: white;
    text-align: center; 
    position: relative;
    top: 19.5vh;
}